{% extends "scheduler_base.html" %}

{% block title %}Tax Year Summary for {{ year }}{% endblock %}

{% block active %}
<h2>Employer Tax Summary for {{ year }}</h2>


{% for kid in kids %}
<h3>{{ kid.person.first_name }}</h3>

<table class=summary>
<tr>
<th colspan=4>Week</th>

<th colspan=5>Federal</th>

<th colspan=4>California</th>

<th colspan=3>Pay</th>
</tr>
<tr><th>Start</th><th>End</th><th>Quarter (Date of Liability)</th><th>Gross</th>

<th>W4 Allow.</th><th>Subject to Income Tax</th><th>Income Tax</th><th>Employee SS</th><th>Employee Med</th>

<th>DE4 Allow.</th><th>Subject to PIT</th><th>PIT</th><th>SDI</th>

<th>Net</th><th>Date</th><th>Amount</th>
</tr>

{% for week in week_list %}
  {% for k in week.kid_stats.kid_details %}
    {% if k.id == kid.id and k.gross > 0 %}
  <tr id="{% cycle 'odd' 'even' %}">
  <td>{{ week.start_day|date:"M" }}&nbsp;{{ week.start_day|date:"j" }}</td>
  <td>{{ week.end_day|date:"M" }}&nbsp;{{ week.end_day|date:"j" }}</td>
      <td>Q{{ week.quarter }}&nbsp;({{ week.date_of_liability|date:"M" }}&nbsp;{{ week.date_of_liability|date:"j" }})</td>
      <td>{{ k.gross }}</td>

      <td>{{ k.tax.fed.allowances }}</td>
      <td>{{ k.tax.fed.taxible }}</td>
      <td>{{ k.tax.fed.income }}</td>
      <td>{{ k.tax.fed.employee_ss }}</td>
      <td>{{ k.tax.fed.employee_medicare }}</td>

      <td>{{ k.tax.cal.allowances }}</td>
      <td>{{ k.tax.cal.taxible }}</td>
      <td>{{ k.tax.cal.pit }}</td>
      <td>{{ k.tax.cal.sdi }}</td>

      <td>{{ k.net }}</td>
      {% if k.paychecks %}
        {% for paycheck in k.paychecks %}
          <td>{{ paycheck.pay_date|date:"M" }}&nbsp;{{ paycheck.pay_date|date:"j" }}</td>
          <td>{{ paycheck.amount }}</td>
        {% endfor %}
      {% else %}
        <td colspan=2></td>
      {% endif %}
  </tr>
    {% endif %}
  {% endfor %}
{% endfor %}
<tr><th colspan=3>Totals:</th>
{% for k in ytd.kid %}
  {% if k.id == kid.id %}
    <td>{{ k.gross }}</td>

    <td colspan=2></td>
    <td>{{ k.income }}</td>
    <td>{{ k.ss }}</td>
    <td>{{ k.med }}</td>

    <td colspan=2></td>
    <td>{{ k.pit }}</td>
    <td>{{ k.sdi }}</td>

    <td>{{ k.net }}</td>
    <td colspan=2>{{ k.takehome }}</td>
  {% endif %}
{% endfor %}
</tr>
</table>

<p>

<table class=summary>
<caption>California DE3BHW</caption>
</tr>
<tr>
<th>Quarter</th>
<th>E.: Total Subject Wages</th>
<th>F.: PIT Wages</th>
<th>G.: PIT Withheld</th>
</tr>
{% for k in ytd.kid %}
  {% if k.id == kid.id %}
{% for q in k.quarter %}
<tr id="{% cycle 'odd' 'even' %}"><td>Q{{ forloop.counter }}</td><td>{{ q.total_wages }}</td><td>{{ q.pit_wages }}</td><td>{{ q.pit_withheld }}</td></tr>
{% endfor %}
  {% endif %}
{% endfor %}
</table>

<P>

{% for k in ytd.kid %}
  {% if k.id == kid.id %}
<table class=summary>
<caption>Year End Sumary</caption>
</tr>
<tr>
<th rowspan=3>Gross</th>
<th colspan=5>Federal</th>
<th colspan=5>California</th>
</tr>
<tr>
<th rowspan=2>Income Tax Withheld</th>
<th colspan=2>Employee</th>
<th colspan=2>Employer</th>
<th rowspan=2>PIT</th>
<th colspan=2>SDI</th>
<th rowspan=2>UI</th>
<th rowspan=2>ETT</th>
</tr>
<tr>
<th>SS</th>
<th>Medicare</th>
<th>SS</th>
<th>Medicare</th>
<th>Withheld</th>
<th>DE3HW Computed</th>
</tr>
<tr>
<td>{{ k.ytd_tax.fed.gross }}
<td>{{ k.income }}
<td>{{ k.ss }}
<td>{{ k.med }}
<td>{{ k.ytd_tax.fed.employer_ss }}
<td>{{ k.ytd_tax.fed.employer_medicare }}
<td>{{ k.pit }}
<td>{{ k.sdi }}
<td>{{ k.ytd_tax.cal.sdi }}
<td>{{ k.ytd_tax.cal.ui }}
<td>{{ k.ytd_tax.cal.ett }}
</tr>
</table>

  {% endif %}
{% endfor %}

<p>
<hr>
<p>

{% endfor %}

{% endblock %}
