{% extends "scheduler_base.html" %}

{% block title %}Summary for {{ year }}{% endblock %}

{% block active %}
<h2>Employee YTD Tax Summary</h2>

<table class=summary>
<tr><th colspan=2>Week</th>
{% for kid in kids %}
<th colspan=8>{{ kid.person.first_name }}</th>
{% endfor %}
<th colspan=3>Total</th>
</tr>

<tr><th>Start</th><th>End</th>
{% for kid in kids %}
<th>Gross</th><th>Fed Income</th><th>Fed SS</th><th>Fed Med</th><th>Cal PIT</th><th>Cal SDI</th><th>Net</th><th>Paycheck</th>
{% endfor %}
<th>Hours</th><th>Gross</th><th>Net</th>
</tr>
{% for week in week_list %}
    <tr>
        <td>{{ week.start_day|date:"M" }}&nbsp;{{ week.start_day|date:"j" }}</td>
        <td>{{ week.end_day|date:"M" }}&nbsp;{{ week.end_day|date:"j" }}</td>
{% if week.kid_stats.kid_details %}
{% for kid in week.kid_stats.kid_details %}
<td>{{ kid.tax.gross }}</td>
<td>{{ kid.tax.fed.income }}</td>
<td>{{ kid.tax.fed.employee_ss }}</td>
<td>{{ kid.tax.fed.employee_medicare }}</td>
<td>{{ kid.tax.cal.pit }}</td>
<td>{{ kid.tax.cal.sdi }}</td>
<td>{{ kid.tax.net }}</td>
<td>
{% for paycheck in kid.paychecks %}
{{ paycheck.pay_date|date:"M" }}&nbsp;{{ paycheck.pay_date|date:"j" }}:&nbsp;{{ paycheck.amount|floatformat:2 }}
{% endfor %}
</td>
{% endfor %}
{% else %}
<td colspan=8></td>
<td colspan=8></td>
{% endif %}
        <td>{{ week.kid_stats.total_hours }}</td>
        <td>{{ week.kid_stats.total_gross }}</td>
        <td>{{ week.kid_stats.total_net }}</td>
        </tr>
{% endfor %}
<tr><th colspan=2>Totals:</th>
{% for kid in ytd.kid %}
<td>{{ kid.gross }}</td>
<td colspan=5></td>
<td>{{ kid.net }}</td>
<td>{{ kid.takehome }}</td>
{% endfor %}
<th></th><th>{{ ytd.gross }}</th><th>{{ ytd.net}}</th>
</tr>
</table>

{% endblock %}
